@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .container {
    @apply w-full lg:w-[1100px] mx-auto px-2
  }
  .bg-main-gradient {
    @apply bg-gradient-to-r from-red-900 to-red-600 dark:from-slate-700 dark:to-slate-700
  }
  .title {
    @apply bg-sky-500 text-white font-semibold text-sm py-1 px-8 lg:text-xl inline-block mb-5
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
  width: 3px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(3, 179, 255, 0.8);
  width: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(3, 179, 255, 0.8);
}